body {
  font-family: et-bembo, Palatino;
  background-color: #fffff8;
}

p {
  line-height: 1.5em;
  font-size: 1.2em;
  max-width: 40em;
}

h1 {
  font-size: 2.5em;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0em;
  margin-top: 1.25em;
  clear:both;
}

.subtitle {
  font-style: italic;
  font-size: 0.9em;
  margin-top: 0.1em;
  margin-bottom: 2.5em;
}

footer {
  font-family: Lato;
  font-size: 0.8em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.credits {
  text-align: center;
}

.content {
  margin-left: 10em;
  margin-right: 10em;
}

header {
  font-family: Lato;
  font-size: 1em;
  margin-top: 2em;
  padding-left: 10em;
  width: 80%;
}

p:first-child:first-letter {
  color: #903;
  float: left;
  font-size: 3.8em;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

header > nav a {
  font-style: normal;
  text-transform: uppercase;
  color: #a00000;
  text-decoration: none;
  letter-spacing: 0.15em;
  padding-right: 2rem;
  vertical-align: baseline;
  display: inline-block;
  float: left;
}



a {
  color: #a00000;
  text-decoration: none;
}

header > nav a img {
  height: 5rem;
  position: relative;
  max-width: 100%;
  top: -2rem; 
}
}